<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.dao.JobMapper">
  <resultMap id="BaseResultMap" type="com.smart.model.Job">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="interval_value" jdbcType="BIGINT" property="intervalValue" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="bean_name" jdbcType="VARCHAR" property="beanName" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_modified_by" jdbcType="BIGINT" property="lastModifiedBy" />
    <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>

</mapper>