<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.smart.model.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
    <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
    <result column="last_modified_by" jdbcType="BIGINT" property="lastModifiedBy"/>
    <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
    <result column="version" jdbcType="INTEGER" property="version"/>
    <result column="icon" jdbcType="VARCHAR" property="icon"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="router_name" jdbcType="VARCHAR" property="routerName"/>
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl"/>
    <result column="status" jdbcType="TINYINT" property="status"/>
    <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
    <result column="seq_num" jdbcType="INTEGER" property="seqNum"/>
    <result column="category" jdbcType="VARCHAR" property="category"/>
  </resultMap>

  <resultMap id="CustomResultMap" type="com.smart.model.Menu" extends="BaseResultMap">
    <collection property="permissionList" ofType="com.smart.model.Permission">
      <id column="permission_id" jdbcType="BIGINT" property="id" />
      <result column="permission_name" jdbcType="VARCHAR" property="name"/>
    </collection>
  </resultMap>

  <resultMap id="MenuBOResultMap" type="com.smart.bo.MenuBO">
    <id column="id" javaType="java.lang.Long" property="id"/>
    <result column="name" javaType="java.lang.String" property="name"/>
    <result column="parentId" javaType="java.lang.Long" property="parentId"/>
    <result column="title" javaType="java.lang.String" property="title"/>
    <result column="category" javaType="java.lang.String" property="category"/>
    <result column="seqNum" jdbcType="INTEGER" property="seqNum"/>
  </resultMap>


  <select id="findAllMenusWithPermissions" resultMap="CustomResultMap">
    select
      m.*,
      p.id as permission_id,
      p.name as permission_name
    from `tbl_menu` m
      left join tbl_menu_permission mp on mp.menu_id = m.id
      left join tbl_permission p on p.id = mp.permission_id
    order BY m.seq_num
  </select>

  <select id="findMenuDetial" resultMap="CustomResultMap" >
    SELECT tm.* ,tp.id AS permission_id,tp.name AS permission_name
    FROM tbl_menu tm
    LEFT JOIN tbl_menu_permission tmp
    ON tm.id = tmp.menu_id
    LEFT JOIN tbl_permission tp
    ON tp.id = tmp.permission_id
    where tm.id = #{id}
  </select>

  <select id="listMenuBO" resultMap="MenuBOResultMap">
    SELECT id AS 'id',name AS 'name',parent_id AS 'parentId' ,
    name AS 'title',category as'category',seq_num AS 'seqNum'
    from tbl_menu
    order BY seq_num
  </select>

  <select id="findByRoleId" resultMap="BaseResultMap">
    SELECT tm.*
    from tbl_menu tm ,tbl_menu_permission tmp ,tbl_role_permission trp
    where trp.role_id = #{roleId}
    AND trp.permission_id = tmp.permission_id
    AND tmp.menu_id = tm.id
  </select>

</mapper>