<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.smart.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
    <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
    <result column="status" jdbcType="VARCHAR" property="status"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
    <result column="type" jdbcType="VARCHAR" property="type"/>
    <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
    <result column="last_modified_by" jdbcType="BIGINT" property="lastModifiedBy"/>
    <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
    <result column="version" jdbcType="INTEGER" property="version"/>

    <collection property="role" javaType="com.smart.model.Role">
      <id column="roleId" jdbcType="BIGINT" property="id" />
      <result column="code" jdbcType="VARCHAR" property="code" />
      <result column="roleName" jdbcType="VARCHAR" property="name" />
      <result column="description" jdbcType="VARCHAR" property="description" />
    </collection>
  </resultMap>

  <select id="getUserRoleByUserId" resultMap="BaseResultMap">
    SELECT tu.*, tr.name AS roleName, tr.id AS roleId FROM tbl_user tu left JOIN  tbl_user_role tur ON tu.id = tur.user_id
    left JOIN tbl_role tr ON tr.id = tur.role_id
    WHERE tu.id = #{id}
  </select>

</mapper>